{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% if mod %}
{% set opt = 'Modifié'%}
{% else %}
{% set opt = 'Ajouté'%}
{% endif %}


{% block title %}{{ opt }} un véhicule{% endblock %}

{% block body %}
    <div id="AddCarPage">
        {% set form_id = 'form_car' %}
        {{ form_start(form, {'attr': {'class': 'form-control', 'id': form_id, 'enctype': 'multipart/form-data', 'data-controller': 'myForm'}}) }}
        {{ macro.formRow(form.title, 'form-label', 'form-control', 'form-error', 'form_first') }}
        {{ macro.formRow(form.price, 'form-label', 'form-control', 'form-error') }}
        {{ macro.formRow(form.kilometers, 'form-label', 'form-control', 'form-error') }}
        {{ macro.formRow(form.year, 'form-label', 'form-control', 'form-error') }}
        {{ macro.formRow(form.fuelType, 'form-label', 'form-radio', 'form-error') }}
        {{ macro.formRow(form.options, 'form-label', 'd-none', 'form-error') }}
        <div class="selected_list" id="options_list" data-controller="carForm"></div>
        <div id="images_widget" class="d-flex flex-wrap"></div>
        {{ macro.formRow(form.imagesNames, 'd-none', 'd-none', 'form-error') }}
        <div class="form-last text-center">
            <button type="submit" class="btn" form="{{ form_id }}">{{ opt }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

