{% extends 'base.html.twig' %}

{% block title %}Modification des horaires{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div id="timetable_page" class="p-4 d-flex justify-content-center">
            {{ form_start(form) }}
            {% for day in days_keys %}
                {{ _self.form_day(form, day, getDayTraduc(day)) }}
            {% endfor %}
            <div class="text-center">
                {{ form_widget(form.submit, {'label': 'Mettre à jour','attr' : {'class' : 'btn'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% macro form_day(form, day, day_name) %}
    <div class="d-flex flex-wrap flex-column p-2">
        <div class="d-inline-block day-name">
            {{ day_name }}
        </div>
        <div class="d-flex flex-row m-2">
            {{ _self.form_service(form, day~':day', 'Horaire matin :') }}
            {{ _self.form_service(form, day~':night', 'Horaire aprés midi :') }}
        </div>
    </div>
{% endmacro %}

{% macro form_service(form, service, service_name) %}
    <div class="mx-4 my-2">
        <div >
            <div class="service-name">{{ service_name }}</div>
            <div class="d-flex flex-row align-items-center">
                {{ _self.form_session(form, service~':open') }}
                <div class="mx-1">-</div>
                {{ _self.form_session(form, service~':closed') }}
            </div>
        </div>
        <div class="validation_checkbox d-flex flex-row align-items-center">
            {{ form_label(form[service], 'Cochez pour fermez à cette heure : ') }}
            {{ form_widget(form[service], {'attr': {'class': 'close-input'}}) }}
        </div>
    </div>
{% endmacro %}

{% macro form_session(form, session) %}
    <div class="d-flex flex-row align-items-center">
        <div>
            {{ form_widget(form[session~':hours'], {'attr': {'class': 'form-control', 'max': '24', 'min': '0'}}) }}
        </div>
        <div class="mx-1">:</div>
        <div>
            {{ form_widget(form[session~':min'], {'attr': {'class': 'form-control', 'max': '60', 'min': '0'}} ) }}
        </div>
    </div>
{% endmacro %}



