<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Garage V{% endblock %}</title>
    <link rel="icon" href="{{ asset("images/fav.png") }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{{ include('header.html.twig') }}
<main>
    <div id="notificationContainer"></div>
    {% block body %}{% endblock %}
</main>
{{ include('footer.html.twig') }}

{% if auto.csrf.key != false %}
    <div id="{{ auto.csrf.id }}" data-csrf-token="{{ csrf_token(auto.csrf.key) }}"></div>
{% endif %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
