
{# POUR LA TIMETABLE #}
{% macro Timetable() %}
    {% set timetable =  getTimetable() %}
    {% if timetable is same as(false) %}
        <div class="alert alert-danger">
            <p>Erreur timetable introuvable ou mauvaise syntaxe, veuillez la mettre à jours</p>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
                <p class="title">Nos Horaires&nbsp;:</p>
            </div>
            <div class="col-lg">
                {% for day in timetable.getdays %}
                    {{ _self.Day(day) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}


{% macro Day(day) %}
    <dl class="row">
        <dt class="col day">{{ day.getname(true) }}</dt>
        <div class="col hour">
            <dd class="col">{{ day.getDaySessionString }}</dd>
            <dd class="col">{{ day.getNightSessionString }}</dd>
        </div>
    </dl>
{% endmacro %}


{# POUR LES VIGNETTES #}
{% macro Headpiece(image_path, image_alt, content, button_name, button_link) %}
    <div class="headpiece">
        <div id="headpiece-image">
            <img src="{{ asset(image_path) }}" alt="{{ image_alt }}">
        </div>
        <div id="headpiece-content">
            {{ content }}
        </div>
        <div id="headpiece-button">
            <a href="{{ button_link }}">
                <button class="btn">{{ button_name }}</button>
            </a>
        </div>
    </div>
{% endmacro %}

{% macro HeadpieceCaroussel(arr_image_path, image_alt, content, button_name) %}
    <div class="headpiece">
        <div id="headpiece-image">
            <div id="headpieceCarrouselControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="99999999999">
                <div class="carousel-inner">
                    {% if arr_image_path | length <= 1 %}
                    <div class="carousel-item active">
                        <img src="{{ asset(arr_image_path[0]) }}" alt="{{ image_alt }} - 1">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset(arr_image_path[0]) }}" alt="{{ image_alt }} - 1">
                    </div>
                    {% else %}
                        {% set i = 0 %}
                        {% for path in arr_image_path %}
                            {% if i == 0 %}
                                <div class="carousel-item active">
                                    <img src="{{ asset(arr_image_path[i]) }}" alt="{{ image_alt ~ ' - ' ~ i }}">
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    <img src="{{ asset(arr_image_path[i]) }}" alt="{{ image_alt ~ ' - ' ~ i }}">
                                </div>
                            {% endif%}
                            {% set i = i + 1 %}
                        {% endfor %}
                    {% endif %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#headpieceCarrouselControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#headpieceCarrouselControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div id="headpiece-content">
            {{ content }}
        </div>
        <div id="headpiece-button">
            <button class="btn">{{ button_name }}</button>
        </div>
    </div>
{% endmacro %}

{% macro CarContentHeadpiece(car) %}
    <div id="content-headpiece">
        <div class="title">{{ car.gettitle }}</div>
        <div class="content-headpiece-info">{{ car.getyear }}</div>
        <div class="content-headpiece-info">{{ car.getfuelname }}</div>
        <div class="content-headpiece-info">{{ car.getkilometers | number_format(0, ',', ' ') }} km</div>
        <div class="text-center title">{{ car.getprice | number_format(0, ',', ' ') }} €</div>
    </div>
{% endmacro %}

{% macro CarHeadpiece(car) %}
    {{ _self.HeadpieceCaroussel(
        car.getAllImagesAssetsPath(),
        'image de ' ~ car.gettitle,
        _self.CarContentHeadpiece(car),
        'Détails'
    ) }}
{% endmacro %}

{% macro CarHeadpiece1(car) %}
    {{ _self.Headpiece(
        car.getFirstImageAssetPath(),
        'image de ' ~ car.gettitle,
        _self.CarContentHeadpiece(car),
        'Détails'
    ) }}
{% endmacro %}

{# FORMULAIRE #}
{% macro formRow(form_part, label_class, widget_class, errors_class, class, id) %}
    <div class="form-row{% if class %} {{ class }}{% endif %}" {% if id %}id="{{ id }}"{% endif %}>
        {{ form_label(form_part, null,{'label_attr': {'class': label_class}}) }}
        {{ form_widget(form_part, {'attr': {'class': widget_class}}) }}
        <div class="{{ errors_class }}">
            {{ form_errors(form_part) }}
        </div>
    </div>
{% endmacro %}


{# FORMULAIRE AJOUTE AVIS CLIENT #}
{% macro CommentForm() %}
    <form id="addComment" data-controller="addComment">
        <div class="form-row">
            <label for="comment_star_rate_value" class="form-label">Donner une note:</label>
            <input type="hidden" id="comment_star_rate_value">
            <div id="comment_star_rate"></div>
        </div>
        <div class="form-row">
            <label for="comment_name" class="form-label">Saisissez un nom :</label>
            <input type="text" id="comment_name" class="form-control" maxlength="100" {% if app.user %}value="{{ app.user.email }}"{% endif %}>
        </div>
        <div class="form-row">
            <label for="comment_text" class="form-label">Saisissez votre avis :</label>
            <textarea id="comment_text" class="form-control" maxlength="100"></textarea>
        </div>
        <div class="text-center">
            <button type="button" class="btn" id="comment_submit">Laisser un avis</button>
        </div>
    </form>
{% endmacro %}

{# FORMULAIRE DE MESSAGE #}
{% macro ContactForm(form, form_id) %}
    <div class="bubble p-3">
        <div>
            <div class="information">
                Contactez nous par telephone au <a href="tel:+33123456789">01 23 45 67 89</a>
            </div>
        </div>
        <div>
            {{ form_start(form, {'attr': {'class': '', 'id': form_id}}) }}
            <div class="d-flex flex-column flex-lg-row">
                <div class="col-lg-3 p-2">
                    <div class="form-row">
                        {{ form_label(form.name, null,{'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-row">
                        {{ form_label(form.phone, null,{'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-row">
                        {{ form_label(form.email, null,{'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-lg-9 p-2">
                    <div class="form-row">
                        {{ form_label(form.message, null,{'label_attr': {'class': 'form-label'}}) }}
                        <div>
                            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 9}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-error">
                {{ form_errors(form.name) }}
                {{ form_errors(form.email) }}
                {{ form_errors(form.phone) }}
                {{ form_errors(form.message) }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endmacro %}



